.background {
    width: 100%;
    background-color: rgba(15, 15, 15, 0.601);
    height: 100%;
    z-index: 1;
    position: absolute;
}

.popUpBox {
    background-color: #1E1E1E;
    width: 80%;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
    padding: 70px;
}

.xImage {
    width: 35px;
    position: absolute;
    /* posistion: inherit; */
    top: 18%;
    right: 13%;

}

.title {
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    /* border: 2px solid red; */
}

.attemptsDataWrapper {
    width: 100%;
    align-items: center;
}

.attemptData {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.number {
    width: 5%;
    margin: auto;
}

.barWrapper {
    width: 95%;
    display: flex;
    flex-direction: row;
    /* border: 2px solid blue; */
}

.barAttempt {
    height: 100%;
    /* width: 20%; */
    background-color: #4E6E5D;
}

.winWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.winOrLoss {
    width: 20%;
    text-align: center;
    /* border: 2px solid red; */
}

.barGraph {
    width: 80%;
    display: flex;
    /* border: 2px solid blue; */
}

.wonBar {
    /* width: 80%;
    height: 100%; */
    background-color: green;
}